<html>
<form method="post" action="/create_user">

	<h1>Edit User</h1>

	<table>
		<tr>
			<td>
				User Name:&nbsp;
			</td>
			<td>
				<input type="text" name="user_name"><br/>
			</td>
		</tr>
		<tr>
			<td>
				User Password:&nbsp;
			</td>
			<td>
				<input type="text" name="user_password"><br/>
			</td>
		</tr>
	</table>

    <input type="submit" value="create!">
</form>
</html>
