<html>
<form method="post" action="/create_question">

	<h1>Register New Question</h1>

	<table>
		<tr>
			<td>
				Exam ID:&nbsp;
			</td>
			<td>
				<input type="text" name="title"><br/>
			</td>
		</tr>
		<tr>
			<td>
				Category 1:&nbsp;
			</td>
			<td>
				<input type="text" name="category1"><br/>
			</td>
		</tr>
		<tr>
			<td>
				Category 2:&nbsp;
			</td>
			<td>
				<input type="text" name="category2"><br/>
			</td>
		</tr>
		<tr>
			<td>
				Category 3:&nbsp;
			</td>
			<td>
				<input type="text" name="category3"><br/>
			</td>
		</tr>
		<tr>
			<td>
				Type:&nbsp;
			</td>
			<td>
				<input type="text" name="type"><br/>
			</td>
		</tr>
		<tr>
			<td>
				Body
			</td>
			<td>
    			<textarea name="body" rows="8" cols="40"></textarea><br/>
			</td>
		</tr>
		<tr>
			<td>
				Selection 1:&nbsp;
			</td>
			<td>
				<input type="text" name="selection"><br/>
			</td>
		</tr>
		<tr>
			<td>
				Selection 2:&nbsp;
			</td>
			<td>
				<input type="text" name="selection2"><br/>
			</td>
		</tr>
		<tr>
			<td>
				Selection 3:&nbsp;
			</td>
			<td>
				<input type="text" name="selection3"><br/>
			</td>
		</tr>
		<tr>
			<td>
				Selection 4:&nbsp;
			</td>
			<td>
				<input type="text" name="selection4">
			</td>
		</tr>
		<tr>
			<td>
				Answer:&nbsp;
			</td>
			<td>
				<input type="text" name="answer"><br/>
			</td>
		</tr>
		<tr>
			<td>
				Explanation
			</td>
			<td>
    			<textarea name="explanation" rows="8" cols="40"></textarea><br/>
			</td>
		</tr>
		<tr>
			<td>
				Reference URL 1:&nbsp;
			</td>
			<td>
				<input type="text" name="ref_url1"><br/>
			</td>
			<td>
		</tr>
		<tr>
			<td>
				Reference URL 2:&nbsp;
			</td>
			<td>
				<input type="text" name="ref_url2"><br/>
			<td>
		</tr>
		<tr>
			<td>
				Reference URL 3:&nbsp;
			</td>
			<td>
				<input type="text" name="ref_url3"><br/>
			</td>
		</tr>
		<tr>
			<td>
				Reference URL 4:&nbsp;
			</td>
			<td>
				<input type="text" name="ref_url4"><br/>
			</td>
		</tr>
		<tr>
			<td>
				Question Source:&nbsp;
			</td>
			<td>
    			<input type="text" name="qustion_src"><br/>
			</td>
		</tr>
	</table>

    <input type="submit" value="create!">
</form>
</html>
