<html>
<form method="post" action="/create_exam">

	<h1>New Exam</h1>

	<table>
		<tr>
			<td>
				Exam Name:&nbsp;
			</td>
			<td>
				<input type="text" name="exam_name"><br/>
			</td>
		</tr>
	</table>

    <input type="submit" value="create!">
</form>
</html>
