<html>
<head>
	<link rel="stylesheet" href="../style/style.css" type="text/css" >
</head>
<body>
	<h1><%= title %></h1>
	<table class="bordered" >
		<tr>
			<th>
				ID
			</th>
			<th>
				EXAM NAME
			</th>
		<tr>
		<% recordList.forEach(function(record) { if(record){ %>
			<tr>
				<td>
					<%= record.ID %>
				</td>
				<td>
					<%= record.EXAM_NAME %></p>
				</td>
			</tr>
		<% }}); %>
	</table>

	<br/>
	<a href="/menu" class="btn">メニューに戻る</a></br>
</body>
</html>
