<html>
	<h1>試験カテゴリ一覧</h1>
	<table>
		<tr>
			<th>
				ID
			</th>
			<th>
				カテゴリ名
			</th>
			<th>
				試験名
			</th>
			<th>
				親カテゴリ名
			</th>
		<tr>
		<% recordList.forEach(function(record) { if(record){ %>
			<tr>
				<td>
					<%= record.ID %>
				</td>
				<td>
					<%= record.CATEGORY_NAME %>
				</td>
				<td>
					<%= record.EXAM_ID %></p>
				</td>
				<td>
					<%= record.PARENT_QUESTION_CATEGORY %></p>
				</td>
			</tr>
		<% }}); %>
	</table>
	<br/>
	<a href="/menu" class="btn">メニューに戻る</a></br>
</html>
