<html>
	<h1>ユーザ一覧</h1>
	<table>
		<tr>
			<th>
				ID
			</th>
			<th>
				ユーザ名
			</th>
			<th>
				Eメール
			</th>
		<tr>
		<% recordList.forEach(function(record) { if(record){ %>
			<tr>
				<td>
					<%= record.ID %>
				</td>
				<td>
					<%= record.USER_NAME %></p>
				</td>
				<td>
					<%= record.EMAIL %></p>
				</td>
			</tr>
		<% }}); %>
	</table>
	<br/>
	<a href="/menu" class="btn">メニューに戻る</a></br>
</html>
